<!--<form #f="ngForm" class="container" style ="background-color: whitesmoke;-->
<!--                                            padding-left: 20px;-->
<!--                                            padding-right: 20px;">-->
<div class="container">
    <h1>Restaurant Service</h1>
    <h2>Dish list</h2>
    <p>List dish for add to order</p>
</div >

<app-data-table></app-data-table>

<!--<h3>Fab Buttons</h3>-->
<br>
<div class="example-button-row">
    <button (click)="openModal('custom-modal-2');" (click)="DeleteOrderById()" mat-fab color="primary">Order</button>
    <button (click)="CreateOrder();" mat-fab color="primary">Create</button>
    <button (click)="openModal('custom-modal-3');" mat-fab color="primary">Add</button>
    <button (click)="openModal('custom-modal-1');" (click)="DeleteOrderById()" mat-fab color="primary">OrderV2</button>
</div>

<jw-modal id="custom-modal-1">
    <h1>Add dish to order</h1>
<!--    <p>Home page text: <input type="text" [(ngModel)]="bodyText" /></p>-->
    <table-selection-example></table-selection-example>
<!--    <br>-->
<!--    <div class="example-button-row">-->
<!--        <button (click)="openModal('custom-modal-1');" mat-fab color="primary">Add</button>-->
<!--        <button (click)="closeModal('custom-modal-1');" mat-fab color="primary" >Close</button>-->
<!--    </div>-->
</jw-modal>

<jw-modal id="custom-modal-2">
    <h1>Add dish to order</h1>
    <!--    <p>Home page text: <input type="text" [(ngModel)]="bodyText" /></p>-->
    <app-form-add-to-order></app-form-add-to-order>
    <!--    <br>-->
    <!--    <div class="example-button-row">-->
    <!--        <button (click)="openModal('custom-modal-1');" mat-fab color="primary">Add</button>-->
    <!--        <button (click)="closeModal('custom-modal-1');" mat-fab color="primary" >Close</button>-->
    <!--    </div>-->
</jw-modal>



<jw-modal id="custom-modal-3">
    <h1>Add dish to stock</h1>
    <!--    <p>Home page text: <input type="text" [(ngModel)]="bodyText" /></p>-->
    <app-form-add-to-dish></app-form-add-to-dish>
    <!--    <br>-->
    <!--    <div class="example-button-row">-->
    <!--        <button (click)="openModal('custom-modal-1');" mat-fab color="primary">Add</button>-->
    <!--        <button (click)="closeModal('custom-modal-1');" mat-fab color="primary" >Close</button>-->
    <!--    </div>-->
</jw-modal>

<!--<div class="container">-->
<!--    <h2>Dish list</h2>-->
<!--    <p>List dish for add to order</p>-->
<!--    <table class="table table-hover">-->
<!--        <thead>-->
<!--        <tr>-->
<!--            <th>id</th>-->
<!--            <th>Name</th>-->
<!--            <th>Composition</th>-->
<!--            <th>Price</th>-->
<!--        </tr>-->
<!--        </thead>-->
<!--        <tbody>-->
<!--        <tr *ngFor="let dish of dishes;">-->
<!--            <td>{{dish.id}}</td>-->
<!--            <td>{{dish.name}}</td>-->
<!--            <td>{{dish.composition}}</td>-->
<!--            <td>{{dish.price}}</td>-->
<!--        </tr>-->
<!--        </tbody>-->
<!--    </table>-->
<!--</div>-->
<!--</form>-->

<!--<table class="table table-striped table-bordered table-sm row-border hover" datatable [dtOptions]="dtOptions">-->
<!--    <thead>-->
<!--    <tr>-->
<!--        <th>id</th>-->
<!--        <th>Name</th>-->
<!--        <th>Composition</th>-->
<!--        <th>Price</th>-->
<!--    </tr>-->
<!--    </thead>-->
<!--    <tbody>-->
<!--    <tr *ngFor="let dish of dishes">-->
<!--        <td>{{dish.id}}</td>-->
<!--        <td>{{dish.name}}</td>-->
<!--        <td>{{dish.composition}}</td>-->
<!--        <td>{{dish.price}}</td>-->
<!--    </tr>-->
<!--    </tbody>-->
<!--    </table>-->

<!--<table class="table table-striped table-bordered table-sm row-border hover" datatable [dtOptions]="dtOptions">-->
<!--    <thead>-->
<!--    <tr>-->
<!--        <th>id</th>-->
<!--        <th>Name</th>-->
<!--        <th>Composition</th>-->
<!--        <th>Price</th>-->
<!--    </tr>-->
<!--    </thead>-->
<!--    <tbody>-->
<!--    <tr *ngFor="let dish of dishes">-->
<!--        <td>{{dish.id}}</td>-->
<!--        <td>{{dish.name}}</td>-->
<!--        <td>{{dish.composition}}</td>-->
<!--        <td>{{dish.price}}</td>-->
<!--    </tr>-->
<!--    </tbody>-->
<!--</table>-->



